#app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}

#app>div {
  flex: 1;
}

.post-insert {
  padding-right: 50px;
}

textarea {
  height: 200px;
}

.live-edit {
  background: #f3f3f3;
  padding: 20px;
  min-height: 255px;
  position: relative;
}

.empty-value {
  opacity: .3;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.post-header {
  margin-top: 30px;
}

.newpost-header {
  margin-bottom: 20px;
}

.all-posts {
  padding: 20px 0;
  list-style: none;
  /* margin-top: 30px; */
  border: 1px solid #c5c5c5;
  background: #f9f9f9;
}

.all-posts:empty {
  display: none;
}

.live-header {
  margin-bottom: 20px;
}

ul.all-posts>li {
  border-bottom: 1px solid #c5c5c5;
  padding: 10px 20px;
}

ul.all-posts>li:last-child {
  border-bottom: none;
}

.first-letter {
  display: inline-block;
  background: #000;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  margin-right: 10px;
}